<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.gezhi.mapper.UserMapper">
    <select id="selectUserById" parameterType="java.lang.Integer" resultType="cn.gezhi.po.User">
  SELECT * FROM user WHERE id = #{id}
</select>
    <select id="getAll" resultType="cn.gezhi.po.User">
        select * from  user
    </select>
    <delete id="del" parameterType="Integer">
        delete from USER where id=#{id}
    </delete>
    <insert id="insertUser" parameterType="cn.gezhi.po.User">
    insert into user(name,age,sex) values (#{name},#{age},#{sex})
    </insert>
    <update id="updateUser" parameterType="cn.gezhi.po.User">
        update user set name=#{name },age=#{age},sex=#{sex} where id=#{id}
    </update>
    <!--输入数据库查询语句-->
<select id="selectOrder" parameterType="int" resultMap="orderMap">
SELECT `order`.*,users.`name`,users.username,
     users.`password`,products.id AS proId,products.product_name AS proName FROM `order`,users,products,orderitem WHERE `order`.id=#{id}
     and users.id=`order`.userid AND orderitem.orderId=`order`.id AND products.id=orderitem.productId;
</select>

    <resultMap id="orderMap" type="cn.gezhi.po.Order">
        <id property="id" column="id"/>
        <!--该类的普通字段数据-->
        <!--若是对象字段要使用一对一关联映射-->

       <result column="date" property="date"/>
   <!--一对一关联映射-->
        <association property="user" javaType="cn.gezhi.po.Users" resultMap="userMap"/>
       <!-- 一对多关联映射-->
                <collection property="products" ofType="cn.gezhi.po.Products">
                   <id column="proId" property="id"></id>
                    <result column="proName" property="name"></result>
                </collection>
     </resultMap>
    <resultMap id="userMap" type="cn.gezhi.po.Users">
        <id property="id" column="userid"></id>
        <result property="username" column="username"></result>
        <result property="password" column="password"></result>
        <result property="name" column="name"></result>
    </resultMap>

</mapper>